<div class="container">
  <div class="row" style="margin-top: 10%">
    <div class="one column">
      <img src="images/kurisu.gif" />
    </div>

    <div class="eleven columns">
      <h1>{{title}}</h1>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="twelve columns">
      <a class="button button-primary" [routerLink]="['Algorithms']">standard solving</a>
      <a class="button button-primary" [routerLink]="['Algorithms']">oll practice</a>
      <a class="button button-primary" [routerLink]="['Algorithms']">pll practice</a>
      <a class="button button-primary" [routerLink]="['Algorithms']">algorithms</a>
    </div>
  </div>

  <hr />

  <router-outlet></router-outlet>
</div>
