<div class="row">
  <div class="twelve columns">
    <div align="center">
      <img *ngIf="currentAlgorithm" width="228" height="228" src="images/{{currentAlgorithm?.imageFileName}}" style="-ms-interpolation-mode: nearest-neighbor; image-rendering: -webkit-optimize-contrast; image-rendering: -webkit-crisp-edges; image-rendering: -moz-crisp-edges; image-rendering: -o-crisp-edges; image-rendering: pixelated;" />
      <div *ngIf="!currentAlgorithm" style="display: inline-block; width: 228px; height: 228px"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div align="center">
      <h4>{{displayValue}}</h4>
    </div>

    <algorithm *ngIf="showAlgorithm" [algorithm]="currentAlgorithm"></algorithm>
  </div>
</div>
